@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Barlow:ital@0;1&family=IBM+Plex+Mono:wght@300&family=Khand:wght@300&family=Lato&family=M+PLUS+1+Code:wght@300&family=Noto+Serif+Display:wght@100&family=Roboto+Condensed:ital@1&family=Source+Code+Pro:wght@300;400&family=Source+Serif+Pro:wght@200&display=swap");
* {
  margin: 0px;
  font-family: "Noto Serif Display", serif;
}
h1 {
  margin-bottom: 10px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(188, 68, 68);
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
button {
  background-color: white;
  border: 0.5px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: lime;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

/* blogs previews */

.blog-previews {
  padding: 10px, 16px;
  margin: 20px 0;
  color: #000000;
  border-bottom: 1px #959595;
}

.blog-previews:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

  background-color: #71bfea;
  padding: 20px;
  border-radius: 5px;
}

.blog-previews h2 {
  font-size: 20px;
  color: #620cf6;
  margin-bottom: 8px;
}
